:root {
  --default-font-family: "Poppins", sans-serif;
  --second-font-family: "Syne", sans-serif;
  --third-font-family: "Playfair Display", serif;
  --peach-color: rgb(255, 148, 114);
  --pink-color: rgb(242, 112, 156);
}

header {
  padding-top: 150px;
  font-family: var(--default-font-family);
  font-weight: normal;
  color: white;
}
h2 {
  padding-left: 150px;
  font-size: 80px;
  opacity: 80%;
}
h1 {
  padding-left: 150px;
  font-size: 18px;
}
a {
  color: var(--peach-color);
}
a:hover {
  color: var(--pink-color);
}

.custom-shape-divider-bottom-1649791039 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1649791039 svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 143px;
}

.custom-shape-divider-bottom-1649791039 .shape-fill {
  fill: #ffffff;
}

.header-section {
  height: 87vh;
  background: linear-gradient(to right, var(--pink-color), var(--peach-color));
}
.header-about-color {
  height: 87vh;
  background: linear-gradient(to right, var(--peach-color), var(--pink-color));
}
.header-contact-color {
  height: 87vh;
  background: linear-gradient(to top, var(--peach-color), var(--pink-color));
}

.projectTitle {
  font-family: var(--second-font-family);
  font-size: 40px;
  padding-top: 120px;
}
.project-sun-pic {
  background: linear-gradient(to right, var(--pink-color), var(--peach-color));
  padding: 0px 100px 0px 50px;
  border-radius: 8px;
  width: 900px;
}
.project-weather-pic {
  background: linear-gradient(to right, var(--peach-color), var(--pink-color));
  padding: 0px 100px 0px 50px;
  border-radius: 8px;
  width: 900px;
}
.con-padding {
  padding: 0%;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.project-image {
  width: 700px;
}
.about-pic {
  max-height: 100%;
  display: block;
  margin: 0 auto;
}
.project-description {
  display: block;
  margin: 0 auto;
}
#about-paragraph {
  margin-top: 70px;
  margin-bottom: 180px;
}
.project-about {
  left: -150px;
  display: block;
  margin: 0 auto;
}
.project-description,
.project-about {
  height: 100%;
  background-color: #ffffff;
  padding: 20px 15px;
  border-radius: 5px;
  box-shadow: 10px 10px 70px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-top: 100px;
}
.description-right {
  left: -110px;
}
.language-tag {
  font-family: var(--second-font-family);
}
.project-title {
  font-family: var(--second-font-family);
  font-size: 25px;
  border-left: black solid 2px;
  padding-left: 25px;
}

#carouselCaptions {
  width: 700px;
  display: block;
  margin: 0 auto;
}

p {
  font-family: var(--default-font-family);
  font-weight: 300;
}
.contact-info {
  margin: 100px 0 200px 0;
  text-align: center;
  font-family: var(--default-font-family);
  font-size: 22px;
}
.contact-info a {
  color: var(--peach-color);
}
.logo-nav {
  max-width: 80px;
}
.nav-style {
  padding: 0px;
  margin: 0;
}
.nav-text a {
  margin-left: 25px;
}
.nav-text a:hover,
.active {
  color: var(--peach-color) !important;
}
footer .email-link {
  font-family: var(--default-font-family);
  text-decoration: none;
  color: black;
  font-size: 22px;
}
.email-link:hover {
  color: var(--peach-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--peach-color);
  padding: 15px 19px;
  background: papayawhip;
  border-radius: 50%;
  font-size: 25px;
}
footer .social-links a:hover {
  color: white;
  background: var(--peach-color);
}

@media (max-width: 768px) {
  .project-image {
    display: none !important;
  }
  .description-none {
    display: none;
  }
}

@media (max-width: 992px) {
  .description-none {
    left: 0px;
    margin-top: 0px;
  }
  .project-sun-pic {
    display: block;
    margin: 0 auto;
  }
  header {
    padding-top: 150px;
    padding-bottom: -100px;
  }
  h2 {
    padding: 0px 60px;
    font-size: 70px;
  }
  h1 {
    padding: 0px 60px;
    font-size: 15px;
  }
  .description-right {
    left: 0px;
  }
  .project-about {
    max-width: 90%;
    left: 0px;
  }
  .projectTitle {
    text-align: left !important;
    padding-top: 20px;
  }

  .header-section {
    max-height: 450px;
  }
  .custom-shape-divider-bottom-1649791039 {
    display: none;
  }
  .project-description {
    margin: 0px;
  }
}
