:root {
  --default-font-family: "Poppins", sans-serif;
  --second-font-family: "Syne", sans-serif;
  --third-font-family: "Playfair Display", serif;
  --peach-color: rgba(72, 2, 91, 0.423);
  --pink-color: rgba(45, 0, 27, 0.901);
}

.navbar-light .navbar-toggler {
  border: 0;
  color: #ffffff;
  box-shadow: #ffffff;
}
.navbar-toggler:focus {
  box-shadow: #ffffff;
}

.no-gutter {
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}

.index {
  background-color: black;
}
.index-info {
  color: antiquewhite;
}

.pexpurp {
  width: 100%;
  height: auto;
}
.pexpurpver {
  width: auto;
  height: 100%;
}
.con-padding {
  padding: 0;
}

header {
  padding-top: 100px;
  font-family: var(--default-font-family);
  font-weight: normal;
  color: var(--pink-color);
  padding-bottom: 100px;
}
h6 {
  font-size: 16px;
  font-family: var(--default-font-family);
}
h3 {
  font-size: 38px;
  font-family: var(--second-font-family);
}
h2 {
  padding-left: 150px;
  font-size: 80px;
  opacity: 80%;
}
h1 {
  padding-left: 150px;
  font-size: 18px;
}
p {
  font-family: var(--default-font-family);
  font-weight: 300;
}
a {
  color: var(--peach-color);
}
a:hover {
  color: var(--pink-color);
}

#contact-intro {
  padding: 40px;
}

#about-paragraph {
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.projectTitle {
  font-family: var(--second-font-family);
  font-size: 40px;
  padding: 200px 0 100px 0;
}
.project-title p {
  font-size: 18px !important;
}
.project-sun-pic {
  background: linear-gradient(to right, var(--pink-color), var(--peach-color));
  padding: 0px 100px 0px 50px;
  border-radius: 2px;
  width: 900px;
}
.project-weather-pic {
  background: linear-gradient(to right, var(--peach-color), var(--pink-color));
  padding: 0px 100px 0px 50px;
  border-radius: 2px;
  width: 900px;
}

.project-image {
  width: 700px;
  padding: 4px;
  margin-bottom: 200px;
}

.project-description,
.project-about {
  height: 100%;
  background-color: #ffffff;
  padding: 0px 20px;
  border-radius: 5px;
  position: relative;
  margin-top: 100px;
  margin-bottom: 25px;
}
.description-right {
  left: -130px;
}
.language-tag {
  font-family: var(--second-font-family);
}
.project-title {
  font-family: var(--second-font-family);
  font-size: 25px;
  border-left: black solid 2px;
  padding-left: 25px;
}
.contact-info {
  margin: 100px 0 200px 0;
  text-align: center;
  font-family: var(--default-font-family);
  font-size: 22px;
}
.contact-info a {
  color: var(--pink-color);
}

.nav-style {
  padding: 0px;
  margin: 0;
}
.nav-text a {
  margin-left: 25px;
}
.nav-text a:hover,
.active {
  color: var(--pink-color) !important;
}
footer .email-link {
  font-family: var(--default-font-family);
  text-decoration: none;
  color: black;
  font-size: 22px;
}
.email-link:hover {
  color: var(--peach-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--pink-color);
  padding: 15px 19px;
  background: #f6f2f2ac;
  border-radius: 25%;
  font-size: 25px;
}
footer .social-links a:hover {
  color: white;
  background: var(--peach-color);
}

@media (max-width: 576px) {
  h3 {
    font-size: 38px;
  }
  p {
    font-size: 12px;
  }
  .index {
    height: 700px;
  }
  .pexpurpver {
    height: 700px;
  }
  .pexpurp {
    height: 350px;
  }
  .con-padding {
    padding: 20px;
  }
  .about-text {
    padding-top: 50px;
  }
}

@media (max-width: 992px) {
  .project-sun-pic {
    display: block;
    margin: 0 auto;
  }

  h2 {
    padding: 0px 60px;
    font-size: 70px;
  }
  h1 {
    padding: 0px 60px;
    font-size: 15px;
  }
  .description-right {
    left: 0px;
  }

  .projectTitle {
    padding: 150px 0 60px 30px;
    margin: 0 !important;
  }
  .project-description {
    margin-top: 0px;
  }
}

.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 1.9s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
